<%= render 'form', query: @info.query %>

<br />

<%= bb_row_and_grid do %>
  <%= bb_panel do %>
    <%= bb_panel_heading do %><%= @info.title %><% end %>
    <%= bb_table do %>
      <tbody>
        <% @info.videos.each do |video| %>
          <tr>
            <td><%= link_to download_alt_icon + " Download #{video.quality} (#{video.video_type})", video.url %> <%= '3D' if video.is_3d %></td>
            <td><%= video.url.first(75) + '...' %></td>
          </tr>
        <% end %>        
      </tbody>
    <% end %>
  <% end %>
<% end %>